**/*.pyc
**/__pycache__/
**/*.pyc
**/*.sqlite3
*.kdev4
**/.kdev4/
**/media/
venv/
**/run/
logs/
**/whoosh/
backend/static/
**/dbf/
**/db/
*.pid
*.vscode
**/test/
.env
*.egg-info
.eggs

# Macos
.DS_Store

# Pyenv
.python-version
admin/.husky/_/husky.sh
